  - name: Get backup list
    command: "barman list-backup {{ barman_backup_server }}"
    become_user: "{{ barman_user }}"
    register: backup_list
    changed_when: false
  

  - name: Extract latest backup ID (simple method)
    set_fact:
     latest_backup_id: "{{ backup_list.stdout_lines.0.split(' - ').0 }}"
    when: backup_list.stdout_lines | length > 0

  - name: Check if extraction succeeded
    fail:
      msg: "No backups found or could not parse backup list"
    when: latest_backup_id is not defined

  - name: Display backup ID
    debug:
     msg: "Using backup ID: {{ latest_backup_id }}"

  - name: Verify backup exists
    command: "barman show-backup {{ latest_backup_id }}"
    become_user: "{{ barman_user }}"
    register: backup_check
    changed_when: false

  - name: Set facts for recovery
    set_fact:
     barman_backup_id: "{{ latest_backup_id }}"
     barman_backup_available: true
    when: backup_check.rc == 0

  - name: Recover from Barman backup
    command: >
            barman recover  {{ barman_backup_id }} {{ postgres_data_dir }}  --remote-ssh-command "ssh -o StrictHostKeyChecking=no {{ master_user }}@{{ main_ip }}"
    become_user: "{{ barman_user }}"
    register: recovery_result

  - name: Check recovery result
    debug:
     var: recovery_result    

  - name: Verify recovery
    postgresql_query:
     query: "SELECT version()"
    register: pg_version
    become_user: postgres

  - name: Display success message
    debug:
     msg: "PostgreSQL restored successfully from backup {{ barman_backup_id }}"  

  - name: enable and start service
    service:
     name: postgresql
     state: started
     enabled: true
    when: (ansible_hostname == "Main")  

  - name: Start PostgreSQL
    service:
     name: postgresql
     state: restarted
    when: (ansible_hostname == "Main")  


 