- name: Include common tasks for all servers
  include_tasks: prepair.yml
  when: common_tasks|default(true)

#- name: Include backup tasks
#  include_tasks: other_playbook.yml
#  when: 
#    - ansible_hostname == "Backup"
   

- name: Include worker tasks
  include_tasks: restore_repl.yml
  when:
   - ansible_hostname == "Repl"
