- name: Include common tasks for all servers
  include_tasks: prepair.yml
  when: common_tasks|default(true)

- name: Include backup tasks
  include_tasks: database_recovery.yml 
  when: 
   - ansible_hostname == "Backup"

- name: Start PostgreSQL
  service:
    name: postgresql
    state: restarted
  when: (ansible_hostname == "Main")     

- name: Include worker tasks
  include_tasks: restore_repl.yml
  when:
   - ansible_hostname == "Repl"

