# Запускаем postgresql-16
- name: enable and start service
  service:
   name: postgresql
   state: stopped
   enabled: true
  when: (ansible_hostname == "Repl")     
    
    
#Удаляем содержимое каталога /var/lib/postgresql/16/main/
- name: Remove files from data catalog
  file:
   path: /var/lib/postgresql/16/main/
   state: absent
  when: (ansible_hostname == "Repl")

 #Копируем данные с Main на Repl
- name: copy files from master to slave
  become_user: postgres
  expect:
     command: 'pg_basebackup -h {{ main_ip }} -U  replication -p 5432 -D /var/lib/postgresql/16/main/ -R -P'
     responses: 
       '.*Password*': "{{ replicator_password }}"
  when: (ansible_hostname == "Repl")

#Копируем конфигурационный файл postgresql.conf
- name: copy postgresql.conf
  template:
   src: postgresql.conf_repl.j2
   dest:  /etc/postgresql/16/main/postgresql.conf
   owner: postgres
   group: postgres
   mode: '0600'
  when: (ansible_hostname == "Repl")

#Копируем конфигурационный файл pg_hba.conf
- name: copy pg_hba.conf
  template:
   src: pg_hba.conf.j2
   dest:  /etc/postgresql/16/main/pg_hba.conf
   owner: postgres
   group: postgres
   mode: '0600'
  when: (ansible_hostname == "Repl")
   
- name: Start PostgreSQL
  service:
   name: postgresql
   state: restarted