---
# Установка необходимых пакетов для работы с postgres и пользователями
- name: install base tools
  apt:
    name:
     - python3-pexpect
     - python3-psycopg2
     - bash-completion 
     - wget
     - prometheus-node-exporter 
    state: present
    update_cache: true

  #  Установка пакетов barman и postgresql-client на сервер Backup 
- name: install barman and postgresql packages on Backup
  apt:
    name:
      - barman
      - barman-cli
      - postgresql
    state: present
    update_cache: true
  when: (ansible_hostname == "Backup")

#  Генерируем SSH-ключ для пользователя barman на хосте Backup
- name: generate SSH key for barman
  user:
    name: barman
    uid: 994
    shell: /bin/bash
    generate_ssh_key: yes
    ssh_key_type: rsa
    ssh_key_bits: 4096
    force: no
  when: (ansible_hostname == "Backup")

  #  Забираем содержимое открытого ключа barman c хоста Backup 
- name: fetch all public ssh keys Backup
  shell: cat /var/lib/barman/.ssh/id_rsa.pub
  register: ssh_keys
  when: (ansible_hostname == "Backup")

 #  Копируем ключ с Main на Backup
- name: Transfer public key to Backup with a comment
  delegate_to: Main
  authorized_key:
     key: "{{ ssh_keys.stdout }}"
     user: postgres
     exclusive: yes # Добавляет новый ключ поверх существующих ключей
     state: present
     manage_dir: yes # Создает каталог ~/.ssh, если его нет
  when: ansible_hostname == 'Backup'

- name: Transfer public key to Backup with a comment
  delegate_to: Repl
  authorized_key:
     key: "{{ ssh_keys.stdout }}"
     user: postgres
     exclusive: yes # Добавляет новый ключ поверх существующих ключей
     state: present
     manage_dir: yes # Создает каталог ~/.ssh, если его нет
  when: ansible_hostname == 'Backup'

     # Копируем файл .pgpass
- name: copy .pgpass
  template:
    src: .pgpass.j2
    dest: /var/lib/barman/.pgpass
    owner: barman
    group: barman
    mode: '0600'
  when: (ansible_hostname == "Backup")

  # Копируем файл barman.conf
- name: copy barman.conf
  template:
    src: barman.conf.j2
    dest: /etc/barman.conf 
    owner: barman
    group: barman
    mode: '0755'
  when: (ansible_hostname == "Backup")

 # Копируем файл Repl.conf
- name: copy Relp.conf
  template:
    src: main.conf.j2
    dest: /etc/barman.d/Main.conf
    owner: barman
    group: barman
    mode: '0755'
  when: (ansible_hostname == "Backup")

- name: barman switch-wal Main
  become_user: barman
  shell: barman switch-wal Main
  when: (ansible_hostname == "Backup")

- name: barman cron
  become_user: barman
  shell: barman cron
  when: (ansible_hostname == "Backup")

- name: Create Barman backup cron job with environment
  become_user: barman
  cron:
    name: "Barman backup Main"
    minute: "0"
    hour: "*/5"
    job: "/usr/bin/barman backup Main"
    state: present