[Repl]
#Описание задания
description = "backup Repl"
#Команда подключения к хосту node1
ssh_command = ssh {{master_user}}@{{repl_ip}} 
#Команда для подключения к postgres-серверу
conninfo = host={{repl_ip}} user={{barman_user}} port=5432 dbname=postgres
retention_policy_mode = auto
retention_policy = RECOVERY WINDOW OF 7 days
wal_retention_policy = main
streaming_archiver=on
#Указание префикса, который будет использоваться как $PATH на хосте node1
path_prefix = /usr/pgsql-16/bin/
#настройки слота
create_slot = auto
slot_name = repl
#Команда для потоковой передачи от postgres-сервера
streaming_conninfo = host={{repl_ip}} user={{barman_user}} 
#Тип выполняемого бекапа
backup_method = postgres
archiver = off