- name: restart prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: restarted

- name: restart alertmanager
  systemd:
    name: prometheus-alertmanager
    state: restarted

- name: restart grafana
  systemd:
    name: grafana-server
    state: restarted   