- name: file
  ansible.builtin.copy:
    src: filebeat.deb
    dest: /tmp/filebeat.deb
    owner: ansible
    mode: "0600"

- name: file
  ansible.builtin.copy:
    src: journalbeat.deb
    dest: /tmp/journalbeat.deb
    owner: ansible
    mode: "0600"
   
- name: Установка Filebeat
  ansible.builtin.apt:
   deb: "{{ item }}"
  loop:
   - /tmp/filebeat.deb
   - /tmp/journalbeat.deb

- name: Copy configs for filebeat
  ansible.builtin.template:
   src: filebeat.yml.j2
   dest: /etc/filebeat/filebeat.yml
   owner: root
   group: root
   mode: '0644'

- name: Настройка journalbeat
  template:
   src: journalbeat.yml.j2
   dest: /etc/journalbeat/journalbeat.yml
   owner: root
   group: root
   mode: '0644'

- name: Запуск служб
  service:
   name: "{{ item }}" 
   state: started
   enabled: yes
  loop:
    - journalbeat
    - filebeat

